# Machine-specific .vscode configuration file
.vscode/c_cpp_properties.json

#ignore temp files
*~

#ignore pdf files (just keep source files)
*.pdf

# Extensions related compilation C code
extension/rack_insert
extension/test_evaluator
extension/test_actuators
extension/test_scripted_policy

# Extensions related MuJoCo log files
extension/MUJOCO_LOG.TXT
results.csv

# Extensions related python dependencies
extension/.venv

#ignore junk files from latex output
*.out
*.log
*.aux
*.dvi
*.ps

#ignore junk files from compiling C code
*.o
emulate
assemble

#ignore junk files from compiling Haskell code
*.hi

#ignore junk files from compiling Java code
*.class

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc

